.contenedor {
    border: 5px solid pink;
    background-color: aliceblue;
    display: grid;

    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 75px 75px 75px;
    place-content: center;
}

.item{
    font-size: 4rem;
}

.item-1{
    border: 5px solid salmon;
    background-color: aquamarine;
    grid-column-start: 1;
    grid-column-end: 4;
}

.item-2{
    border: 5px solid red;
    background-color: blue;
grid-row:2/4;
}

.item-3{
    border: 5px solid orange;
    background-color: blueviolet;
   grid-area: 2/2/4/4;
}